<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Sample</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <p align="center"><button style="margin-top:5px;" type="submit" class="btn btn-primary"><a href="{{url_for('graph')}}" style="color: white;text-decoration: none;">Back to Main Graph</a></button></p>
    <p align="center"><button style="margin-top:5px;" type="submit" class="btn btn-primary"><a href="{{url_for('login')}}" style="color: white;text-decoration: none;">Logout</a></button></p><br><br>
    
    
    <center><div style="width: 700px;height: 700px;"><h6>A line chart on your average happiness for {{ date }}</h6><br><br>
        <form action="/dategraph" method="post">

        </form><canvas id="barChart"></canvas></div><br><br><br></center>
    <script>
        var ctx = document.getElementById("barChart").getContext("2d");
        var lineChart = new Chart(ctx,{
            type:"line",
            data:{
                labels: {{ time|tojson}},
            datasets:[{
                label: "Average Happiness",
                data: {{ happiness|tojson }},
                backgroundColor: ["#ff0000"],
            }]
       },
   })  
    </script> 
    
</body>
</html>